pandas==0.23.4
pandas-profiling
plotly
plotly_express
numpy
matplotlib
seaborn
altair
bokeh
boto3
beautifulsoup4
scikit-learn
scikit-image
scipy
statsmodels
sympy
Pillow
chardet
folium
graphviz
kaggle
h5py
pydot
patsy
pymc3
lxml
html5lib
nbconvert
